<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link th:href="@{/internship.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/internshipProfile.css}" type="text/css">
</head>
<body>
<th:block th:include="header"></th:block>
    <div class="container">
        <div class="main-body">

            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/templates/Internship}">Internship Management</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Internship Profile</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <th:block th:if="${user.photosImagePath == null}">
                                    <img src="https://icon-library.com/images/default-user-icon/default-user-icon-4.jpg" alt="profile image" class="rounded-circle" width="150"></a>
                                </th:block>
                                <th:block th:if="${user.photosImagePath}">
                                   <img th:src="@{${user.photosImagePath}}" alt="profile image" class="rounded-circle" width="150"></a>
                                </th:block>                                <div class="mt-3">
                                    <h4 th:text="${user.fullname}"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                   <span th:text="${user.fullname}"></span>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <span th:text="${user.email}"></span>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <span th:text="${user.phonenumber}"></span>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Position</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <th:block th:each="position : ${user.positions}">
                                        <span th:text="${position.name}"></span>
                                    </th:block>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Level</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <span th:text="${internship.level}"></span>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Mentor</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <th:block th:if="${mentor_internship != null}">
                                       <span th:each="mentor : ${mentor_internship}">
                                           <span th:text="${mentor.fullname}"></span>
                                       </span>
                                    </th:block>
                                    <th:block th:if="${mentor_internship == null and role == 'ADMIN'}">
                                        <form th:action="@{/internship/assignmentor(userid = ${internship.userid})}" th:method="post">
                                            <select  th:name="mentor">
                                                <th:block th:each="mentor : ${mentors}">
                                                    <option th:value="${mentor.id}" th:utext="${mentor.fullname}"></option>
                                                </th:block>
                                            </select>

                                            <input type="submit" value="Assign">
                                        </form>
                                    </th:block>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    


                
                    

                    



                </div>
            </div>

        </div>
    </div>
    <div class="review-container">
        <h2>Reviews <span class="total-review" id="total-review" th:text="${totalReviews} + ' reviews'"></span></h2>
        <form th:action="@{/internship/review(userid = ${user.id} , reviewer = ${#authentication.getPrincipal().getUsername()})}" th:method="post">
            <label for="input_review" class="input-field">
                <input id="input_review" placeholder="Add a new review ..." type="text" th:name="content">
            </label>
            <button class="addreview" type="submit">Add</button>
        </form>
        <div class="cards">
            <div class="card-review" id="card-review">
                <th:block th:each="review : ${reviews}">
                    <div class="review-block">
                        <div class="card-top">
                            <div class="name">
                                <p style="color: #F7941D" th:text="${review.reviewer.fullname}"></p>
                            </div>
                            <div class="name">
                                <p style="color: #F7941D" th:text="${#dates.format(review.created_at , 'dd-MM-yyyy')}"></p>
                            </div>
                        </div>
                        <div class="card-content">
                            <p style="color: #000" th:text="${review.content}"></p>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>

</body>
</html>